.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: steelblue;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: steelblue;
  cursor: pointer;
}
.slider {
  appearance: none;
  width: 30%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
}
/* slider end */

.Grid {
  padding: 0;
  border: 0;
  outline: 0;
  border: 0.1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex: 0;
}

.gridElement {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0.1px solid black;
}

.noBorder {
  border: none;
}
