* {
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: GSansLight;
  src: url(_fonts/GeneralSans-Light.otf);
}

@font-face {
  font-family: GSansExtraLight;
  src: url(_fonts/GeneralSans-Extralight.otf);
}

@font-face {
  font-family: GSansMedium;
  src: url(_fonts/GeneralSans-Medium.otf);
}

@font-face {
  font-family: GSansRegular;
  src: url(_fonts/GeneralSans-Regular.otf);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: steelblue;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: steelblue;
  cursor: pointer;
}
.slider {
  appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
}
/* slider end */

body {
  font-size: 20px;
  font-family: GSansExtraLight, monospace;
  background-color: #eef5ff;
}

.Grid {
  border: 0;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 0px 42px 26px rgba(158,184,217,0.81);
  -moz-box-shadow: 0px 0px 42px 26px rgba(158,184,217,0.81);
  box-shadow: 0px 0px 42px 26px rgba(158,184,217,0.81);
  margin-bottom: 20px;
  }

.gridElement {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.ButtonsBar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  justify-content: center;
}
header {
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #7C93C3;
  font-family: GSansMedium, monospace;
  font-size: 30px;
  margin-top: 0;
}

.content {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
.parentOfGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

input[type="radio"]:checked ~ * {
  color: red;
}
footer {
  background-color: #A25772;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-top: 40px;
  padding: 10px;
  font-family: Nippo-Light, monospace;
}

img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.footerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  width: 20px;
  height: 20px;
  display: block;
  padding-right: 10px;
}
